:root {
  color-scheme: light;

  --color-background-brand: oklch(68% 0.15 150);
  --color-background-primary: oklch(99% 0.025 155);
  --color-background-secondary: oklch(90% 0.035 155);

  --color-content-brand: oklch(48% 0.15 150);
  --color-content-primary: oklch(35% 0.01 196);
  --color-content-secondary: oklch(55% 0.01 196);

  --color-border-brand: oklch(48% 0.15 150);
  --color-border-primary: oklch(60% 0.01 196);

  --color-overlay-brand: oklch(48% 0.15 150 / 30%);
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --color-background-brand: oklch(78% 0.15 150);
  --color-background-primary: oklch(35% 0.01 196);
  --color-background-secondary: oklch(30% 0.01 155);

  --color-content-brand: oklch(78% 0.15 150);
  --color-content-primary: oklch(99% 0.025 155);
  --color-content-secondary: oklch(79% 0.025 155);

  --color-border-brand: oklch(78% 0.15 150);
  --color-border-primary: oklch(40% 0.01 196);

  --color-overlay-brand: oklch(78% 0.15 150 / 30%);
}
